* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: White;
    color: Black;
}

nav {
    background-color: #6ba099;
    color: black;
    text-align: right;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    overflow: hidden;
    background-color: #6ba099;
}

ul li {
    float: right;
    background-color: #6ba099;
    padding: 10px;
}

ul li:hover {
    background-color: #46877e;
}

.selected {
    background-color: #46877e;
}

.biopic {
    float: right;
}

main {
    max-width: 1024px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-weight: lighter;
    font-size: x-small;
    text-align: center;
    margin-top: 4rem;
    background-color: #6ba099;
}

footer p {
    background-color: #6ba099;
}

h2 {
    font-weight: bold;
    font-size: 2.5rem;
}

h3 {
    font-weight: bold;
    font-size: 2rem;
}

h4 {
    font-weight: bold;
    font-size: 1rem;
}