<html>
    <head>
        <title>About Me</title>
        <link rel="stylesheet" src="{{url_for('static/css',filename='main.css')}}" />
    </head>
    <body>
        <nav>
            <ul>
                <li>About</li>
                <li>Contact</li>
                <li>Projects</li>
            </ul>
        </nav>
        <main>
            <h1>Chris Carson (He/Him)</h1>
            <h2>Analyst</h2>
            <p><img src="{{url_for('static/img', filename='chris.jpg')}}" class="biopic">Bio information goes here. It will be an interesting and insightful read.</p>
        </main>
        <footer>
            <p>Text by Chris Carson, 2026</p>
            <p>EN.605.256, Johns Hopkins</p>
        </footer>
    </body>
</html>