<!DOCTYPE html>
<head>
    <title>Database Queries</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" />
</head>
<body>
    <nav>Grad School Cafe Data Analysis</nav>
    <main>
        <h3>Analysis</h3>
        <ul>
            <li>
                <h4>1. How many entries do you have in your database who have applied for Fall 2026?</h4>
                <p class="smalltext">Answer: {{q1Answer}}</p>
            </li>
            <li>
                <h4>2. What percentage of entries are from international students (not American or Other) (to two decimal places)?</h4>
                <p class="smalltext">Answer: {{q2Answer}}</p>
            </li>
            <li>
                <h4>3. What is the average GPA, GRE, GRE V, GRE AW of applicants who provide these metrics?</h4>
                <p class="smalltext">Answer: {{q3Answer}}</p>
            </li>
            <li>
                <h4>4. What is their average GPA of American students in Fall 2026?</h4>
                <p class="smalltext">Answer: {{q4Answer}}</p>
            </li>
            <li>
                <h4>5. What percent of entries for Fall 2026 are Acceptances (to two decimal places)?</h4>
                <p class="smalltext">Answer: {{q5Answer}}</p>
            </li>
            <li>
                <h4>6. What is the average GPA of applicants who applied for Fall 2026 who are Acceptances?</h4>
                <p class="smalltext">Answer: {{q6Answer}}</p>
            </li>
            <li>
                <h4>7. How many entries are from applicants who applied to JHU for a masters degrees in Computer Science?</h4>
                <p class="smalltext">Answer: {{q7Answer}}</p>
            </li>
            <li>
                <h4>8. How many entries from 2026 are acceptances from applicants who applied to Georgetown University, MIT, Stanford University, or Carnegie Mellon University for a PhD in Computer Science?</h4>
                <p class="smalltext">Answer: {{q8Answer}}</p>
            </li>
            <li>
                <h4>9. Do you numbers for question 8 change if you use LLM Generated Fields (rather than your downloaded fields)?</h4>
                <p class="smalltext">Answer: {{q9Answer}}</p>
            </li>
            <li>
                <h4>10. How many GRE AW scores reported exceeded the maximum score attainable?</h4>
                <p class="smalltext">Answer: {{q10Answer}}</p>
            </li>
            <li>
                <h4>11. How many GRE scores reported exceeded the maximum score attainable?</h4>
                <p class="smalltext">Answer: {{q11Answer}}</p>
            </li>
        </ul>
    </main>
    <footer>
        <p>Text by Chris Carson, 2026</p>
        <p>EN.605.256, Johns Hopkins</p>
    </footer>
</body>